html {
    margin: 0;
}

body {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.container{
    position:absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1
}

.building-info {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 10px;
    stroke: #3888f0;
    stroke-width: 3;
    animation: textAnimation 2s infinite alternate;
}

@keyframes textAnimation {
    0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(268, 98%, 60%)
    }

    100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsl(71, 86%, 58%)
    }
}

.button-style {
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    width: 100px;
    height: 100px;
    vertical-align: top;
    margin: 20px;
}

.button-group {
    position: absolute;
    left: 20%;
    bottom: 0;
}

.icon-style {
    width: 50px;
}

.base-div-qr {
    position:absolute;
    height: 70%;
    width: 100%;
    margin: 0;
    z-index: 2;
    display: none;
}

.container-qr {
    position: absolute;
    left: 18%;
    top: 15%;
}

.div-pin {
    position:absolute;
    height: 70%;
    width: 100%;
    margin: 0;
    z-index: 3;
    display: none;
    text-align: center;
}

.pin-input {
    margin: auto;
    margin-top:15%;
    font-size: 6rem;
    width: 60%;
    display: table;
}

.pin-table {
    display: table-row;
}

.input-display {
    display: table-cell;
}

.keypad-button-style {
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 15px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.keypad-button-container{
    margin-top: 5%;
}

.success-layer {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background-image: url(/images/success.gif);
    background-position: center center;
    text-align: center;
    display: none;
}

#flat-info {
    font-size: 4rem;
    color: white;
    margin-top: 60%;
}